@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "tailwindcss";

html, body, #root {
    background-color: #0f172a; /* Corresponds to Tailwind's slate-900 */
    color: #f8fafc; /* Corresponds to Tailwind's slate-50 for default text */
  }

@theme {
    --font-primary: "Michroma", sans-serif;
    --font-secondary: "Ubuntu", sans-serif;
}